@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden;
  @apply text-white;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Courier New", Courier, monospace;
}

.navLink {
  @apply flex items-center justify-center gap-1 hover:bg-primary cursor-pointer rounded-full py-2 px-4 transition duration-75 ease-in;
}

.navLink svg {
  @apply w-4 h-4;
}

.burger {
  @apply flex flex-col cursor-pointer sm:hidden;
  gap: 5px;
}

.burger .line {
  @apply bg-white;
  width: 2rem;
  height: 0.2rem;
}

section:nth-child(even) {
  @apply bg-primary;
}

section:nth-child(odd) {
  @apply bg-secondary;
}

section:not(#contact) {
  @apply min-h-screen;
}

section {
  @apply px-6 pb-6 text-center;
}

section .title {
  @apply p-4 text-xl sm:text-2xl font-bold;
}

.project:hover .projectImage {
  @apply scale-110;
}

#contact ul img {
  @apply w-10 sm:w-14 transform transition hover:scale-110;
}

#contact ul li {
  @apply mx-3 flex flex-col justify-between items-center cursor-pointer;
}
